<mat-sidenav-container>
  <mat-sidenav
    class="sidenav-parent"
    #left
    position="start"
    #sidenav
    mode="side"
    opened="true"
    [style.width]="'65px'"
  >
    <app-sidenav
      [collapsed]="collapsed()"
      (collapsedChange)="changeCollapsed()"
    ></app-sidenav>
  </mat-sidenav>
  <!-- one mat-sidenav more after position start -->
  <mat-sidenav-content>
    <mat-sidenav-container>
      <mat-sidenav
        #left
        class="sidenav-children"
        position="start"
        #sidenav
        mode="side"
        opened="true"
        [style.width]="sidenavWidth()"
      >
        <app-sidenav-children
          [collapsed]="collapsed()"
          (collapsedChange)="changeCollapsed()"
        ></app-sidenav-children>
      </mat-sidenav>
      <mat-sidenav-content
        class="content"
        [ngClass]="{
          'content-large': collapsed(),
          'content-small': !collapsed()
        }"
      >
        <!-- <app-header></app-header> -->
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <app-spinner></app-spinner>
  </mat-sidenav-content>
</mat-sidenav-container>
