.mat-expansion-panel-body {
  padding: 0 12px 12px !important;
  margin: 0 !important;
}

.mat-expansion-panel-content {
  margin: 0 !important;
}

.mat-chip-label-selected {
  color: #ffffff !important;
  width: 18px !important;
  height: 18px !important;
}

.mat-chip-img-selected {
  filter: invert(1);
}
