<!-- <div class="sidenav-header"> -->
<div class="sidenav-header" (click)="changeCollapsed()">
    

</div>
<mat-nav-list>
  <a
    mat-list-item
    class="menu-item"
    *ngFor="let item of menuChildren()"
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.name }}</span>
  </a>
</mat-nav-list>