.mat-mdc-chip-avatar {
    width: 18px !important;
    height: 18px !important;
    border-radius: 0 !important;
    margin-right: 0 !important;
  }
  
  mat-chip {
    margin: 0 5px;
    color: #ffffff !important;
    background-color: #ffffff !important;
    border: #707070 2px solid;
  }
  
  mat-chip.mat-chip-selected {
    background-color: #0161a3 !important;
    border: #0161a3 2px solid;
  }
  
  .mat-mdc-chip-action-label {
    padding-left: 0 !important;
  }
  
  .mat-expansion-panel-body {
    padding: 0 12px 12px !important;
    margin: 0 !important;
  }
  
  .mat-expansion-panel-content {
    margin: 0 !important;
  }
  
  .mat-chip-label-selected {
    color: #ffffff !important;
    width: 18px !important;
    height: 18px !important;
  }
  
  .mat-chip-img-selected {
    filter: invert(1);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  